:root {
  /* primary colors */
  --grey: #6c757d;
  --white: #FFFFFF;
  --main-color: #1D1D1D;
  
  /* labels colors */
  --label-bestseller: #D9D6B0;
  --label-limited-edition: #D4B0D9;

  /* typography */
  --font-family: "Inter", sans-serif;

  /* other */
  --spacing: 1.5rem;
}

/* Image optimization for CLS prevention */
img {
  height: auto;
  max-width: 100%;
}

/* Ensure images with defined dimensions remain responsive */
img[width][height] {
  width: auto;
  height: auto;
  max-width: 100%;
  aspect-ratio: attr(width) / attr(height);
}

/* Fallback for browsers that don't support aspect-ratio */
@supports not (aspect-ratio: 1) {
  img[width][height] {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 140%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-color);
  margin: var(--spacing);
}

.navbar {
  background-color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 100%;
  padding: 24px;
}

.navbar-item-container {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.navbar-item-container:last-child {
  justify-content: flex-end;
}

/* logo Styles navbar */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo-link {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  flex-shrink: 0;
}

.logo-default,
.logo-hover {
  height: 24px;
  width: 24px;
  transition: opacity 0.4s ease;
}

.logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.logo-link:hover .logo-default {
  opacity: 0;
}

.logo-link:hover .logo-hover {
  opacity: 1;
}

.logo-text {
  font-size: 16px;
  color: var(--main-color);
}

.logo-text-mobile {
  display: none;
}

/* desktop menu navbar */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  grid-column: 2;
  height: 100%;
}

.navbar-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-link {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  height: 22%;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}


/* right section navbar */
.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.user-icon {
  display: flex;
  align-items: center;
}

.user-icon-img {
  width: 24px;
  height: 24px;
}

/* mobile menu navbar - toggle */
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
  gap: 0.75rem;
  align-items: center;
}

.hamburger-icon {
  width: 24px;
  height: 24px;
}

/* mobile navbar overlay */
.mobile-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.mobile-overlay.active {
  display: block;
  opacity: 1;
}

/* mobile menu navbar */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 290px;
  height: 100%;
  background-color: var(--white);
  z-index: 10;
  transition: right 0.6s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

.mobile-logo {
  display: flex;
  align-items: center;
}

.mobile-logo img {
  height: 24px;
  width: 24px;
}

.mobile-close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.mobile-close img {
  width: 24px;
  height: 24px;
}

.close-text {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-color);
}

.mobile-menu-items {
  list-style: none;
  padding: 16px 32px;
  padding-top: 128px;
}

.mobile-menu-items a {
  display: block;
  width: 100%;
  padding-bottom: 24px;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.mobile-menu-items a:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

/* main content */
.main-content {
  margin-top: 80px;
}

.logo-container {
  display: flex;
  margin-top: 60px;
  width: 48%;
}

.hero-photo{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 42px;
  width: 100%;
}

/* slider*/
.featured-section {
    margin-top: 60px;
}

.section-header {
    text-align: left;
    margin-bottom: 30px;
}

.section-subtitle {
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1%;
    margin-bottom: 4px;
}

.section-title {
    font-size: 42px;
    font-weight: 700;
    color: var(--main-color);
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-bottom: 20px;
}

.swiper-slide {
    width: auto;
    height: auto;
}

.product-card {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-bottom: 0;;
    height: 64px;
    background: #EAEAE8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/*  product image */
.product-image {
    position: relative;
    background: #EAEAE8;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    justify-content: center;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.product-info {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 8px;
    line-height: 1.4;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    color: #1a1a1a;
    margin-top: auto;
}

/* badges */
.product-badge {
    padding: 4px 12px 4px 12px;
    border-radius: 1000px;
    text-transform: uppercase;
    letter-spacing: 1%;
    flex-shrink: 0;
}

.badge-bestseller {
    background: var(--label-bestseller);
    color: var(--main-color);
}

.badge-limited {
    background: var(--label-limited-edition);
    color: var(--main-color);
}

/* favorite button */
.favorite-btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    flex-shrink: 0;
    position: relative;
}

.favorite-default,
.favorite-hover {
    width: 24px;
    height: 24px;
    transition: opacity 0.4s ease;
}

.favorite-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.favorite-btn:hover .favorite-default {
    opacity: 0;
}

.favorite-btn:hover .favorite-hover {
    opacity: 1;
}


/* swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 72px;
    height: 72px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
    width: 48px;
    height: 48px;
    background-image: url('./assets/ICONS=SLIDER_ARROW.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-button-prev::after {
    transform: translate(-50%, -50%) rotate(180deg);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    visibility: hidden;
}

/* swiper pagination */
.swiper-pagination {
    position: static;
    margin-top: 20px;
    text-align: center;
}

.custom-pagination {
    width: 100%;
    height: 1px;
    margin: 64px 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: #EAEAE8;
}

.custom-pagination-handle {
    width: 441px;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    transition: left 0.3s ease;
    cursor: pointer;
}

.custom-pagination-handle:hover {
    cursor: pointer;
}

.custom-pagination-handle.scrolling {
    transition: none;
    cursor: pointer;
}

/* API PRODUCTS */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.products-per-page {
    position: relative;
}

.products-per-page select {
    display: none; 
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 8px 12px;
    transition: border-color 0.3s ease;
}

.custom-dropdown.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-dropdown-selected {
    padding: 3px 30px 3px 0px;
    border: none;
    background-color: transparent;
    background-image: url("./assets/ICONS=chevron_down.svg");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-color);
    cursor: pointer;
    outline: none;
    text-align: center;
    min-width: 60px;
}

.custom-dropdown-options {
    position: absolute;
    top: 100%;
    left: -1px;
    right: 0;
    background: white;
    border: none;
    display: none;
    z-index: 1000;
    width: 102%;
    padding-bottom: 10px;
}

.custom-dropdown-options.show {
    display: block;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.custom-dropdown-option {
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    border: none;
    position: relative;
}

.custom-dropdown-option.first-option {
    margin-bottom: 0;
}

.custom-dropdown-option.first-option::after {
    content: '';
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    height: 1px;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.custom-dropdown-option.second-option::after {
    content: '';
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    height: 1px;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.custom-dropdown-option.first-option:hover::after {
    background-color: var(--main-color);
}

.custom-dropdown-option.second-option{
  bottom: 4px;
}
.custom-dropdown-option.second-option:hover::after {
  background-color: var(--main-color);
}

.custom-dropdown-option.selected {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 60px;
    width: 100%;
}

.products-grid .banner {
    grid-column: 2 / 4; 
    height: 341px;
}

.products-grid .product-card {
    background: #eaeae8;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    position: relative;
    align-self: center;
}

.products-grid .product-image {
    width: 100%;
    height: 341px;
    object-fit: contain;
    background: #eaeae8;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-id-overlay {
    position: absolute;
    top: 22px;
    left: 22px;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.product-id {
    font-size: 12px;
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.product-text {
    font-size: 14px;
    color: var(--main-color);
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.banner {
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.15);
    background: linear-gradient(135deg, #4A90E2 0%, #357ABD 50%, #2E5B8A 100%);
    display: flex;
    align-items: center;
    height: 280px;
    justify-self: stretch;
}

.banner-content {
    position: relative;
    padding: 48px 32px;
    text-align: center;
    color: white;
    background-image: url('./assets/BANNER.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    z-index: 2;
}


.banner-cta {
    display: inline-flex;
    align-items: center;
    background: rgba(255,255,255,0.15);
    border: 2px solid rgba(255,255,255,0.3);
    color: var(--white);
    padding: 14px 28px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
}        

.popup-content {
    background: #eaeae8;
    border-radius: 6px;
    width: 776px;
    height: 556px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);        }

.popup-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup-overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    z-index: 10;
}

.popup-overlay-header span {
    font-weight: 500;
    color: var(--main-color);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.popup-close {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.popup-close img {
    width: 24px;
    height: 24px;
}

.popup-close .close-text {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-color);
}        
.popup-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #eaeae8;
    padding: 32px;
}

/* responsive design */
@media screen and (max-width: 970px) {
  
  .navbar-container {
    grid-template-columns: auto 1fr auto;
  }
  
  .navbar-menu {
    display: none;
  }
  
  .user-section {
    display: none;
  }
  
  .logo-text-desktop {
    display: none;
  }
  
  .logo-text-mobile {
    display: inline;
  }

  .mobile-menu-toggle {
    display: flex;
    justify-self: end;
  }
  
  .hero-section {
    gap: 24px;
  }
  
  .logo-container {
    display: flex;
    margin-top: 64px;
    width: 100%;
  }

  .custom-pagination-handle {
    width: 200px;
  }

  .header {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 32px;
    }      

  .custom-dropdown-selected {
    font-size: 16px;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 40px;
  }

  .products-grid .banner {
    grid-column: 1 / 3; 
    height: 441px;
  } 
   .products-grid .product-image {
      height: 441px;
      padding: 20px;
  }
  
  .product-id-overlay {
      top: 22px;
      left: 22px;
      font-size: 13px;
  }

  .custom-dropdown-options.show {
      left: -1px;
  }
}

@media screen and (max-width: 790px) {
    .products-grid .banner {
    grid-column: 1 / 3; 
    height: 350px;
  } 
   .products-grid .product-image {
      height: 341px;
      padding: 20px;
  }
}